<p id="notice"><%= notice %></p>
<h1>Web development</h1>
<h1>Interview Question and Answers</h1>

<div class="col-md-6">
<% @question_answers.each do |q_a| %>
  <br>
  <%= link_to simple_format(q_a.question), q_a, :remote => true, :class=>"index_link"  %>
<% end %>
</div>
<div class="col-md-6">
  <div id="answer">
  </div>
</div>
